<div class="w_contacto height_100">
    <div class="contacto contacto_js height_100">
        <div class="helper"></div><!--
        --><div class="display-inline">
            <div class="contact_info">

                <img ng-src="assets/images/logo.png" width="100" class="display-inline logo" alt="Rafael Meza" logoonload />

                <br />
                <br />
                <br />
                <p><span>E-mail: </span><a href="mailto:ralphch1234562@hotmail.com">ralphch1234562@hotmail.com</a></p>
                <p><span>Teléfono: </span>(511) - 996922619</p>
            </div>

        </div>
    </div>
</div>
