<div class="w_home height_100">
    <div class="home_content height_100">
        <div class="home_content_lft  ">
            <div class="helper"></div><!--
            --><div class="w_logo align_center display-inline">
                <div class="helper"></div><!--
                --><a href="/" class="display-inline w_logo_link" ng-click="clickMenuList($event)">
                    <img ng-src="assets/images/logo.png" width="100" class="display-inline logo" alt="Rafael Meza" logoonload />
                </a>
                <p>RAFAEL MEZA</p>
            </div>
        </div><!--
        --><div class="home_content_rgt">
            <figure class="home_content_lft_in  height_100" style="background: url('assets/images/home.jpg') 50% 50% no-repeat; background-size: cover;">
                <img ng-src="assets/images/home.jpg" id="home_img" class="home_img" alt="Home" homeimageonload />
            </figure>
        </div>
    </div>

</div>


